<!DOCTYPE html>
<html xmls:th="www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<link rel="stylesheet" href="./styles/styles.css">
	<link rel="icon" href="./assets/favicon.ico">
	<script src="./js/index.js"></script>

	<title>COVID-19 Symptom Checker</title>
</head>
<body onload="onload()">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="row">
			<!-- Root Route -->
			<div class="col-xs-6 root-route">
				<a href="/" class="router-link">
					<h1>
						<img src="./assets/favicon.ico" />
						<span class="header-tag">438</span>
						Health Center
					</h1>
				</a>
			</div>
			
			<!-- Subroute -->
			<div class="col-xs-6">
				<h1>
					<span class="header-divider">/</span>
					COVID-19 Symptom Checker
				</h1>
			</div>
		</div>
	</nav>
	
	<!-- Main Container -->
	<div class="main-container">
		<h2>COVID-19 Resource Center</h2>
		<p class="paragraph">
			Here at 438 Health Center, we are here for you in these trying times.
			We are committed to keeping you informed about the COVID-19 pandemic,
			and are available every day, 24/7 to answer
			any questions you or your family may have.
		</p>
		<p class="paragraph bold-paragraph">
			If you think you or a loved one has been exposed to COVID-19
			or are experiencing fever, cough or shortness of breath,
			start with our COVID-19 Symptom Checker or call 555-555-5555.
			Our symptom checker is the quickest way to find out what to do next.
		</p>
		<p class="paragraph italicized-paragraph">
			If you think you’re experiencing an emergency, dial 911.
		</p>

		<!-- Success block -->
		<div th:if="${success == true}">
			<button class="btn btn-primary" onclick="showDisclaimer()" id="show-disclaimer-button">
				COVID-19 Symptom Checker
			</button>

			<!-- Disclaimer -->
			<div id="disclaimer" class="hidden">
				<p class="paragraph warning-paragraph">
					This is a school project and is for educational purposes only
				</p>
				<p class="paragraph">
					I understand that the 438 Health Center COVID-19 Symptom Checker
					should not be used in times when symptoms are urgent. If I 
					am experiencing life-threatening issues I will immediately 
					seek help from a health care professional or dial 911. I understand
					that the 438 Health Center COVID-19 Symptom Checker is for
					informational purposes only.
				</p>
				
				<!-- Disclaimer Actions -->
				<div class="row btn-container">
					<div class="col-xs-6">
						<button class="btn btn-secondary btn-disclaimer" onclick="disagreeDisclaimer()" id="cancel-disclaimer-button">
							Cancel
						</button>
					</div>
					<div class="col-xs-6">
						<button class="btn btn-primary btn-disclaimer" onclick="agreeDisclaimer()" id="agree-disclaimer-button">
							I Agree
						</button>
					</div>
				</div>
			</div>

			<!-- Symptom Form -->
			<form action="/results" method="post" id="symptom-form" class="symptom-form hidden">
			
				<!-- Country -->
				<div class="form-group">
					<label for="country">Country</label>
					<select name="country" id="country">
			    		<option value=null>Select Country</option>
			    		<option th:each="country : ${countries}" th:value="${country.getCode()}" th:text="${country.getName()}"></option>
			    	</select>
				</div>
	
				<!-- City -->
				<div class="form-group">
					<label for="city">City</label>
					<select name="city" id="city">
			    		<option value=null>Select City</option>
			    		<option th:each="city : ${cities}" th:value="${city.getName()}" th:text="${city.getName()}"></option>
			    	</select>
				</div>

				<!-- Symptoms -->
				<p class="symptom-header">Symptoms</p>
				<div class="form-group symptom-container row">
					<div th:each="symptom, i : ${symptoms}" class="col-sm-6">
						<div class="row">
							<input type="checkbox" th:name="'symptom-' + ${i.index}" th:id="'symptom-' + ${i.index}" class="symptom-control col-sm-1" />
							<label th:for="'symptom-' + ${i.index}" th:text="${symptom.getSymptom()}" class="symptom-label col-sm-11"></label>
						</div>
					</div>
				</div>
	
				<button type="submit" class="btn btn-primary result-button">See Results</button>
			</form>
		</div>
	
		<!-- Error block -->
		<div th:if="${success == false}">
			<p>Error loading data</p>
		</div>
	</div>
	
	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>